# The interval (in days) at which the auto-sync task should run.
# Minimum value is 1 day. Maximum value is 24 days.
INTERVAL_DAYS=7
# The trakt usernames/emails and passwords of the accounts to be synced.
# One account per line, in the format: username:password.
# "\n" can also be used to separate username-password pairs instead of newlines.
# Example:
# ACCOUNT_CREDENTIALS='john_doe:password123
# jane_smith@gmail.com:securepass456
# another_user@gmail.com:anotherpass789'
# IMPORANT: Single quotes are neccessary here to prevent unintended variable interpolation
# within password strings. If your password contains a single quote, you can escape it with a backslash (\')
ACCOUNT_CREDENTIALS=''